@import 'base/reset',
        'base/base';

@import 'abstract/variables',
        'abstract/mixins';

.background_second{

    background-color: $blue;
    height: 42.55rem;
    width: auto;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
    
    
}        
.home{
    position: absolute;
    inset: 0;
    height: 42.55rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 83%);
    
    
    
    background-color: $mid_blue;
    color: $white;
    .home_container{
        padding: $margin;
    
        > div{
            display: flex;

            .logo{
                object-fit: contain;
                position: relative;
                padding-top: 1.9rem;
                cursor: pointer;
            }

            header{
                display: flex;
                width: 100%;
                justify-content: flex-end;

                ul{
                    display: flex;

                    li:not(:last-child){
                        padding:2.7rem 1.1rem 0.9rem 1.1rem;
                        display: flex;
                        cursor: pointer;
                        margin: 0 0.7rem;
                        border-radius: 0 0 0.25rem 0.25rem;
                        &:hover{
                            background-color: $blue;
                        }
                    }
                    .login{
                        background-color: $white;
                        color: $blue;
                        height: 2.7rem;
                        width: 6.2rem;
                        margin-left: 0.7rem;
                        display: flex;
                        padding: 0 1.1rem;
                        align-items: center;
                        position: relative;
                        top: 1.8rem;
                        border-radius: 0.25rem;
                        cursor: pointer;

                        span{
                            padding-left: 0.9rem;
                            scale: 0.95;
                        }
                    }
                }
            }
        }
    }
}

.title_container{
    display: flex;
    width: auto;
    height: 18.6rem;
    margin-top: 4rem;

    >div{
        display: flex;
        flex-direction: column;
        

    }

    >div:first-child{
        padding-top: 6.3rem ;
        width: 50%;
        

        h1{
            padding-bottom: 1.1rem;
        }
    }
    >div:last-child{
        background-image: url(img/home_back.png);
        width: 50%;
        background-size: cover;
        @include xs{
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
.search_button{
    display: flex;
    margin-top: 2.6rem;
    

    input:first-child, select{
        background-color: $dark_blue;
        border: none;
        font-size: 1rem;
        color: $white;
    }
    input:first-child{
        width: 17.3rem;
        height: 2.7rem;
        margin-right: 0.2rem;
        padding: 0.7rem;
        border-radius: 0.25rem 0 0 0.25rem;
    }
    select{
        border-radius: 0 0.25rem 0.25rem 0;
        width: 6.1rem; 
        margin-right: 1.6rem;
    }
    input:last-child{
        width: 11.1rem;
        background-color: $blue;
        color: $white;
    }
}

.join_us{
    padding: $margin;
    width: auto;
    height: 42.5rem;
    margin-bottom: 5.3rem ;

    >div:first-child{
        padding-top: 4.2rem;
        color: $black;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h2{
            padding-bottom: 1.4rem;
        }
    }

    .join_us_container{
        padding-top: 4.3rem;
        display: flex;
        
        .article_container{
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        article{
            display: flex;
            color: $black;
            padding-bottom: 3.2rem;
            margin-right: 5.8rem;

            img{
                object-fit: contain;
                position: relative;
                top: -2rem;
                max-width: 3.6rem;
            }

            >div{
                display: flex;
                flex-direction: column;
                padding-left: 1.7rem;
            }
        }

        .img_container{
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            position: relative;
            
            img:first-child{
                max-height: 19.6rem;
            }
            .dotted_1{
                position: absolute;
                top: 2.75rem;
                right: 0;
                max-height: 12rem;
                
            }
            .dotted_2{
                position:absolute;
                bottom: 2.75rem;
                left: 0;
                height: 12rem;
            }
        }
    }
}

.where_start{
    height: 41.4rem;
    padding: $margin;
    width: auto;
    padding-bottom: 5.3rem ;
    background-color: $light_blue;
    
    >div:last-child{
        display: flex;
        height: 100%;
        
        .card_container{
            width: 50%;
            height: 100%;
            display: flex;
            padding-top: 4.55rem;
            
            &-build{
                display: flex;
                justify-content: left;

                .card{
                    background-color: $blue;
                    margin-right: 2.6rem;
                }
            }
            &-move{
                display: flex;
                justify-content: right;

                .card{
                    background-color: $dark_blue;
                    margin-left: 2.6rem;
                }
            }
            
            .card{
                height:22.02rem;
                display: flex;
                flex-direction: column;
                border-radius: 0.25rem;
                color: $white;
                position: relative;

                .img-top-right{
                    object-fit: contain;
                    max-width: 13.25rem;
                    position: absolute;
                    top:0;
                    right: 0;
                
                &-margin{
                    top:1.75rem;
                    right: 1rem;
                }
            }

                article{
                    margin: 2.25rem 2.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-top: auto;
                    margin-bottom: auto;

                    img{
                        max-width: 3.9rem ;
                    }
                    h4{
                        padding-top: 2.25rem;
                    }
                    input{
                        background-color: $white;
                        color: $blue;
                        display: flex;
                        float: right;
                    }
                }
            }
        }
    }
}


