html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Poppins", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  transition: all 0.5s;
}

html {
  font-size: 20px;
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

li {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  list-style: none;
  font-size: 1rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2.45rem;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

h4 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
}

h5 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 2rem;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

span {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

a {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
  line-height: 1.8rem;
}

.button {
  border: none;
  font-size: 0.9rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.7rem;
}
.button:hover {
  scale: 1.05;
}

.title-subtitle {
  padding-top: 5.45rem;
  color: #2E2E2E;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-subtitle h2 {
  padding-bottom: 1.4rem;
}

@media screen and (max-width: 1024px) {
  .dotted_1, .dotted_2 {
    scale: 56.25%;
  }
}
@media screen and (max-width: 600px) {
  .dotted_1, .dotted_2 {
    display: none;
  }
}

* {
  box-sizing: border-box;
  transition: all 0.5s;
}

html {
  font-size: 20px;
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

li {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  list-style: none;
  font-size: 1rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2.45rem;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

h4 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
}

h5 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  line-height: 2rem;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

span {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

a {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
  line-height: 1.8rem;
}

.button {
  border: none;
  font-size: 0.9rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.7rem;
}
.button:hover {
  scale: 1.05;
}

.title-subtitle {
  padding-top: 5.45rem;
  color: #2E2E2E;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-subtitle h2 {
  padding-bottom: 1.4rem;
}

@media screen and (max-width: 1024px) {
  .dotted_1, .dotted_2 {
    scale: 56.25%;
  }
}
@media screen and (max-width: 600px) {
  .dotted_1, .dotted_2 {
    display: none;
  }
}

.burger, .x {
  cursor: pointer;
  width: 2.5rem;
  position: fixed;
  top: 1rem;
  right: 2rem;
  display: none;
}
@media screen and (max-width: 1024px) {
  .burger, .x {
    display: block;
  }
}

.menu-burger {
  width: 200px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: -100px;
  background-color: rgba(23, 23, 39, 0.9);
  transform: translateX(500px);
  padding-top: 100px;
  padding-right: 50px;
  margin-top: 0;
  z-index: 2;
}
.menu-burger li {
  text-align: center;
  list-style-type: none;
  font-size: 20px;
}
.menu-burger ul {
  margin: 5px 0;
  width: 200px;
  padding: 20px;
}
.menu-burger ul:hover {
  background-color: #F7F8FF;
  color: #93A5FF;
}

.visible {
  transform: translateX(0);
}

.invisible {
  transform: translateX(500px);
}

.visible_p {
  opacity: 0;
  height: 0;
  transition: 0.2s ease-out;
}

.background_second {
  background-color: #93A5FF;
  height: 42.55rem;
  width: auto;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 94.5%, 60% 88.6%, 0 100%);
}
@media screen and (max-width: 600px) {
  .background_second {
    height: 100vh;
  }
}

.home {
  position: absolute;
  inset: 0;
  height: 42.55rem;
  clip-path: polygon(0 0, 100% 0, 100% 94.5%, 0 80%);
  background-color: #424D83;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .home {
    height: 100vh;
  }
}
.home .home_container {
  padding: 0 7.15%;
}
.home .home_container > div {
  display: flex;
}
.home .home_container > div .logo {
  object-fit: contain;
  position: relative;
  padding-top: 1.9rem;
  cursor: pointer;
}
.home .home_container > div header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
@media screen and (max-width: 1024px) {
  .home .home_container > div header {
    display: none;
  }
}
.home .home_container > div header ul {
  display: flex;
}
.home .home_container > div header ul li:not(:last-child) {
  padding: 2.7rem 1.1rem 0.9rem 1.1rem;
  display: flex;
  cursor: pointer;
  margin: 0 0.7rem;
  border-radius: 0 0 0.25rem 0.25rem;
}
.home .home_container > div header ul li:not(:last-child):hover {
  background-color: #93A5FF;
}
.home .home_container > div header ul .login {
  background-color: #ffffff;
  color: #93A5FF;
  height: 2.7rem;
  width: 6.2rem;
  margin-left: 0.7rem;
  display: flex;
  padding: 0 1.1rem;
  align-items: center;
  position: relative;
  top: 1.8rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.home .home_container > div header ul .login span {
  padding-left: 0.9rem;
  scale: 0.95;
}

.title_container {
  display: flex;
  width: auto;
  height: 18.6rem;
  margin-top: 4rem;
}
.title_container > div {
  display: flex;
  flex-direction: column;
}
.title_container > div:first-child {
  padding-top: 6.3rem;
  width: 50%;
}
.title_container > div:first-child h1 {
  padding-bottom: 1.1rem;
}
.title_container > div:last-child {
  background-image: url(img/home_back.png);
  width: 50%;
  background-size: cover;
}
@media screen and (max-width: 1600px) {
  .title_container > div:last-child {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.search_button {
  display: flex;
  margin-top: 2.6rem;
}
@media screen and (max-width: 600px) {
  .search_button {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .search_button input, .search_button select {
    margin: 0.5rem;
  }
}
.search_button input:first-child, .search_button select {
  background-color: #384170;
  border: none;
  font-size: 1rem;
  color: #ffffff;
}
.search_button input:first-child {
  width: 17.3rem;
  height: 2.7rem;
  margin-right: 0.2rem;
  padding: 0.7rem;
  border-radius: 0.25rem 0 0 0.25rem;
}
.search_button select {
  border-radius: 0 0.25rem 0.25rem 0;
  width: 6.1rem;
  margin-right: 1.6rem;
}
.search_button input:last-child {
  width: 11.1rem;
  background-color: #93A5FF;
  color: #ffffff;
}

.join_us {
  padding: 0 7.15%;
  width: auto;
  height: auto;
  min-height: 42.5rem;
  margin-bottom: 5.3rem;
}
.join_us h5 {
  margin-top: 1.8rem;
}
.join_us > div:first-child {
  padding-top: 4.2rem;
  color: #2E2E2E;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.join_us > div:first-child h2 {
  padding-bottom: 1.4rem;
}
.join_us .join_us_container {
  padding-top: 4.3rem;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .join_us .join_us_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.join_us .join_us_container .article_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .join_us .join_us_container .article_container {
    width: 100%;
  }
}
.join_us .join_us_container article {
  display: flex;
  color: #2E2E2E;
  padding-bottom: 3.2rem;
  margin-right: 5.8rem;
}
.join_us .join_us_container article img {
  object-fit: contain;
  position: relative;
  top: -2rem;
  max-width: 3.6rem;
}
.join_us .join_us_container article > div {
  display: flex;
  flex-direction: column;
  padding-left: 1.7rem;
}
.join_us .join_us_container .img_container {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.join_us .join_us_container .img_container img:first-child {
  height: 19.6rem;
}
.join_us .join_us_container .img_container .dotted_1 {
  position: absolute;
  top: 2.75rem;
  right: 0;
  max-height: 12rem;
}
@media screen and (max-width: 1600px) {
  .join_us .join_us_container .img_container .dotted_1 {
    right: -1rem;
    top: 3.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .join_us .join_us_container .img_container .dotted_1 {
    right: -8.5rem;
    top: -2.8rem;
  }
}
.join_us .join_us_container .img_container .dotted_2 {
  position: absolute;
  bottom: 2.75rem;
  left: 0;
  height: 12rem;
}
@media screen and (max-width: 1600px) {
  .join_us .join_us_container .img_container .dotted_2 {
    left: -2rem;
    bottom: 3.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .join_us .join_us_container .img_container .dotted_2 {
    left: -8rem;
    bottom: -3.8rem;
    right: 20rem;
  }
}

.where_start {
  min-height: 41.4rem;
  height: auto;
  padding: 0 7.15%;
  width: auto;
  padding-bottom: 5.3rem;
  background-color: #F7F8FF;
}
.where_start p {
  margin-top: 1.8rem;
  line-height: 2rem;
}
.where_start > div:last-child {
  display: flex;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .where_start > div:last-child {
    flex-direction: column;
  }
}
.where_start > div:last-child .card_container {
  height: 100%;
  display: flex;
  padding-top: 4.55rem;
}
.where_start > div:last-child .card_container-build {
  display: flex;
  justify-content: left;
}
.where_start > div:last-child .card_container-build .card {
  background-color: #93A5FF;
  margin-right: 5.2%;
}
@media screen and (max-width: 1024px) {
  .where_start > div:last-child .card_container-build .card {
    margin: 5.2%;
  }
}
.where_start > div:last-child .card_container-move {
  display: flex;
  justify-content: right;
}
.where_start > div:last-child .card_container-move .card {
  background-color: #424D83;
  margin-left: 5.2%;
}
@media screen and (max-width: 1024px) {
  .where_start > div:last-child .card_container-move .card {
    margin: 0 5.2%;
  }
}
.where_start > div:last-child .card_container .card {
  min-height: 22.02rem;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  color: #ffffff;
  position: relative;
}
.where_start > div:last-child .card_container .card .img-top-right {
  object-fit: contain;
  max-width: 13.25rem;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 600px) {
  .where_start > div:last-child .card_container .card .img-top-right {
    scale: 0.6;
  }
}
.where_start > div:last-child .card_container .card .img-top-right-margin {
  top: 1.75rem;
  right: 1rem;
}
@media screen and (max-width: 600px) {
  .where_start > div:last-child .card_container .card .img-top-right-margin {
    top: 0;
    right: 0;
  }
}
.where_start > div:last-child .card_container .card article {
  margin: 2.25rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.where_start > div:last-child .card_container .card article img {
  width: 3.9rem;
}
.where_start > div:last-child .card_container .card article h4 {
  padding-top: 2.25rem;
}
.where_start > div:last-child .card_container .card article input {
  background-color: #ffffff;
  color: #93A5FF;
  display: flex;
  float: right;
}
@media screen and (max-width: 1024px) {
  .where_start > div:last-child .card_container .card article input {
    margin-top: 1rem;
  }
}

.hosting {
  min-height: 50.85rem;
  height: auto;
  padding: 0 7.15%;
}
.hosting .card_container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .hosting .card_container {
    flex-wrap: wrap;
    margin: 4rem 0;
    justify-content: center;
  }
}
.hosting .card_container .card {
  width: 18rem;
  height: 25.85rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #2E2E2E;
  margin: 4.5rem 1.4%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.hosting .card_container .card .top-blue {
  width: 100%;
  height: 0.5rem;
  background-color: #93A5FF;
  position: absolute;
  top: 0;
  opacity: 0;
  border-radius: 0.25rem 0.25rem 0 0;
}
.hosting .card_container .card img {
  height: 2.9rem;
  margin-top: 4rem;
  margin-bottom: 1.8rem;
}
.hosting .card_container .card hr {
  border: 0 none;
  width: 100%;
  height: 1px;
  background-color: #EBEBEB;
  position: absolute;
  top: 17.9rem;
}
.hosting .card_container .card p {
  margin: 1.1rem 2.1rem 0 2.1rem;
  line-height: 2rem;
}
.hosting .card_container .card span {
  font-size: 2rem;
}
.hosting .card_container .card span span {
  font-size: 1rem;
}
.hosting .card_container .card form {
  position: absolute;
  top: 26.4rem;
  scale: 0;
  transition: scale 0.5s;
}
.hosting .card_container .card form input {
  background-color: #F7F8FF;
  color: #93A5FF;
}
@media screen and (max-width: 1024px) {
  .hosting .card_container .card {
    margin: 1rem 1.4%;
    height: 32.1rem;
  }
  .hosting .card_container .card .top-blue {
    opacity: 1;
  }
  .hosting .card_container .card form {
    scale: 1;
  }
}
.hosting .card_container .card .price {
  position: absolute;
  top: 19rem;
}
.hosting .card_container .card-giant, .hosting .card_container .card:hover {
  height: 32.1rem;
}
.hosting .card_container .card-giant .top-blue, .hosting .card_container .card:hover .top-blue {
  opacity: 1;
}
.hosting .card_container .card-giant form, .hosting .card_container .card:hover form {
  scale: 1;
}

.customers {
  min-height: 33.2rem;
  height: auto;
  background-color: #F7F8FF;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .customers {
    min-height: 40rem;
  }
}
.customers .title-subtitle {
  margin: 0 7.15%;
}
.customers .opinion_container {
  display: flex;
  margin: 0 7.15%;
}
@media screen and (max-width: 1024px) {
  .customers .opinion_container {
    flex-direction: column;
    align-items: center;
  }
}
.customers .opinion_container article {
  width: 50%;
  min-height: 9.75rem;
  height: auto;
  margin: 4.5rem 0 0 3.5%;
  display: flex;
}
@media screen and (max-width: 600px) {
  .customers .opinion_container article {
    flex-direction: column;
  }
}
.customers .opinion_container article:first-child {
  margin: 4.5rem 3.5% 0 0;
}
.customers .opinion_container article .portrait {
  object-fit: contain;
  height: 6.2rem;
  position: relative;
  top: -0.5rem;
  padding-right: 1.67%;
}
.customers .opinion_container article .stars {
  height: 0.93rem;
}
.customers .opinion_container article h5 {
  margin: 1.5rem 0;
  font-style: italic;
}
.customers .opinion_container article p {
  font-weight: bold;
}
.customers .slider {
  display: flex;
  justify-content: center;
  margin: 3.85rem 0;
  height: 1.5rem;
}
@media screen and (max-width: 600px) {
  .customers .slider {
    opacity: 0;
  }
}
.customers .dotted_1 {
  position: absolute;
  top: -2rem;
  right: 0;
  max-height: 12rem;
}
@media screen and (max-width: 1024px) {
  .customers .dotted_1 {
    scale: 56.25%;
    right: -3rem;
    top: -3.8rem;
  }
}
.customers .dotted_2 {
  position: absolute;
  bottom: -3.1rem;
  left: 0;
  max-height: 12rem;
}
@media screen and (max-width: 1024px) {
  .customers .dotted_2 {
    left: -3rem;
    bottom: -5rem;
  }
}

.clients {
  height: 28.9rem;
  margin: 0 7.15%;
}
.clients > div:nth-of-type(2) {
  display: flex;
  padding: 4.89% 0 4.27% 0;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .clients > div:nth-of-type(2) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.clients > div:nth-of-type(2) img {
  object-fit: contain;
  padding: 0 3.63%;
  height: 2.11rem;
}
@media screen and (max-width: 1024px) {
  .clients > div:nth-of-type(2) img {
    margin: 1rem 0;
  }
}
.clients > div:nth-of-type(2) :first-child {
  padding-left: 0;
}
.clients > div:nth-of-type(2) :last-child {
  padding-right: 0;
}
.clients form {
  display: flex;
  justify-content: center;
}
.clients form input {
  color: #ffffff;
  background-color: #93A5FF;
}

.footer {
  height: 67vh;
  background-color: #93A5FF;
  color: #ffffff;
  position: relative;
  clip-path: polygon(50% 11.4%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 0);
}
@media screen and (max-width: 600px) {
  .footer {
    height: 120vh;
  }
}
.footer .background_second_bis {
  background-color: #424D83;
  position: absolute;
  position: absolute;
  inset: 0;
  clip-path: polygon(0 0, 100% 22.8%, 100% 100%, 0% 100%);
}
@media screen and (max-width: 600px) {
  .footer .background_second_bis {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.footer .background_second_bis > div {
  display: flex;
  margin: 0 7.15%;
  justify-content: space-between;
  padding-top: 4.85rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .footer .background_second_bis > div {
    justify-content: center;
  }
}
.footer .background_second_bis > div:first-child {
  padding-top: 11.5rem;
}
.footer .background_second_bis > div article {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .footer .background_second_bis > div article {
    padding: 1rem 2rem;
    align-items: center;
  }
}
.footer .background_second_bis > div article h4 {
  padding-bottom: 1.2rem;
}
.footer .background_second_bis > div article > div {
  display: flex;
  flex-wrap: wrap;
}
.footer .background_second_bis > div article > div img {
  height: 2rem;
  margin: 0.25rem;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  margin: 0 7.15%;
}
@media screen and (max-width: 1024px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer .street {
    margin-bottom: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
