@mixin hov_scale{
    &:hover{
        scale: 1.05;
    }
}

@mixin giant_card{
    height: 32.1rem;

    .top-blue{
        opacity: 1;
    }
    form{
        scale:1;
    }
}


$xl: 1600px;
$l: 1024px;
$s: 600px;

@mixin laptop{
    @media screen and (max-width:$xl){
        @content;
    }
}
@mixin ipad{
    @media screen and (max-width:$l){
        @content;
    }
}
@mixin mobile{
    @media screen and (max-width:$s){
        @content;
    }
}